* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  --text-font: "Roboto", sans-serif;
  --hue: 194;
  --table-components: hsl(var(--hue), 31%, 42%);
  --main-row: hsla(var(--hue), 72%, 13%, 1);
  --odd-row: hsla(var(--hue), 64%, 6%, 0.5);
  --even-row: hsla(var(--hue), 65%, 7%, 1);
  --button-color: hsla(var(--hue), 91%, 25%, 1);
  --remove-color: hsla(355, 91%, 66%, 1);
  --remove-color-hover: hsla(355, 30%, 30%, 1);
  --input-placeholder: hsla(var(--hue), 6%, 51%, 1);
  --text-color: hsla(var(--hue), 9%, 89%, 1);
}

body {
  background: #000;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 160%;
  overflow-y: hidden;
}

body * {
  font-family: var(--text-font);
  color: var(--text-color);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip-path: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

#app {
  display: grid;
  max-width: 90rem;
  gap: 3rem;
  padding: 10rem 2rem;
  margin: 0 auto;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.search #input-search {
  padding: 1.6rem;
  border: none;
  border-radius: 0.5rem;
  background: var(--even-row);
}

.search  #input-search::placeholder {
  color: var(--input-placeholder);
}

.search i {
  font-size: 2.4rem;
}

.search button {
  display: flex;
  gap: 0.4rem;
  align-items: center;
  background: var(--button-color);
  padding: 1.2rem 3.2rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
}

.search button:hover {
  filter: brightness(0.9);
}

table {

  width: 100%;
  border-collapse: collapse;
}

table *{
  font-size: 2rem;
  color: var(--text-color);
}

table th {
  text-align: left;
  background: var(--main-row);
  font-weight: 700;
  padding: 1.6rem 2.4rem 1.6rem 4rem;
}

tbody tr td {
  background-color: var(--even-row);
  padding: 2.4rem 2.4rem 2.4rem 4rem;
  
}

tbody tr:nth-child(odd) td{
  background-color: var(--odd-row);
}

table th:first-child {
  border-top-left-radius: 0.8rem;
}

table th:last-child {
  border-top-right-radius: 0.8rem;
}

tbody tr:last-child td:first-child {
  border-bottom-left-radius: 0.8rem;

}

tbody tr:last-child td:last-child {
  border-bottom-right-radius: 0.8rem;
}

td.users {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 50.4rem;
}

td.users img {
  width: 5.6rem;
  height: 5.6rem;
  border-radius: 50%;
  object-fit: cover;
}

td.users a{
  text-decoration: none;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  font-weight: 700;
}

td.users span {
  font-weight: normal;
}

.remove {
  text-align: center;
}

.remove button {
  font-size: 1.2rem;
  font-weight: 700;
  background: var(--remove-color);
  color: var(--remove-color);
  border: none;
  border-radius: 50%;
  padding: 0.3rem;
  cursor: pointer;
}

.remove button:hover {
  color: var(--remove-color-hover);
  transition: 350ms;
}

