* {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  --hue: 240;
  --text-gray-100: hsla(var(--hue), 9%, 89%, 1);
  --nav-gray-400: hsla(var(--hue), 7%, 78%, 1);
  --nav-white: hsla(var(--hue), 0%, 100%, 1);
}

.error #app{
  place-content: center;
  text-align: center;
  color: #fff;
}

#app img {
  width: 20rem;
  animation: imageShadowAnimate 4s ease-in-out infinite;
}

@keyframes imageShadowAnimate{
  0% { filter: drop-shadow( 0 0 1.5rem rgb(0, 128, 128)); }
  25% { filter: drop-shadow(0 0 1.5rem rgb(21, 255, 0)); }
  50% { filter: drop-shadow(0 0 1.5rem rgb(4, 149, 47)); }
  75% { filter: drop-shadow(0 0 1.5rem rgb(21, 255, 0)); }
  100% { filter: drop-shadow(0 0 1.5rem rgb(0, 128, 128)); }

}